<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="tasks" layout="icon-top">
      <ion-icon name="checkbox-outline"></ion-icon>
      <ion-label>Tareas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="habits" layout="icon-top">
      <ion-icon name="flame-outline"></ion-icon>
      <ion-label>Hábitos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="wellbeing" layout="icon-top">
      <ion-icon name="happy-outline"></ion-icon>
      <ion-label>Bienestar</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="goals" layout="icon-top">
      <ion-icon name="flag-outline"></ion-icon>
      <ion-label>Metas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" layout="icon-top">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
