<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Información del Usuario -->
  <div class="ion-padding" *ngIf="userData">
    <ion-avatar>
      <img [src]="userData.photoURL" alt="Foto de perfil" />
    </ion-avatar>
    <h3>{{ userData.displayName }}</h3>
    <p>{{ userData.email }}</p>
  </div>

  <ion-list>
    <!-- Opción para Editar Perfil -->
    <ion-item button detail>
      <ion-icon name="person-circle-outline" slot="start"></ion-icon>
      <ion-label>Editar Perfil</ion-label>
    </ion-item>

    <!-- Gestión de Etiquetas -->
    <ion-item button detail [routerLink]="['/tabs/gestion-etiquetas']">
      <ion-icon name="pricetags-outline" slot="start"></ion-icon>
      <ion-label>Gestionar Etiquetas</ion-label>
    </ion-item>

    <!-- Informe Mensual -->
    <ion-item button detail [routerLink]="['/informe-mensual']">
      <ion-icon name="bar-chart-outline" slot="start"></ion-icon>
      <ion-label>Informe Mensual</ion-label>
    </ion-item>

    <!-- Opción de Configuración -->
    <ion-item button detail>
      <ion-icon name="settings-outline" slot="start"></ion-icon>
      <ion-label>Configuración</ion-label>
    </ion-item>
  </ion-list>

  <!-- Botón para Cerrar Sesión -->
  <ion-button expand="full" color="danger" (click)="presentLogoutConfirm()">
    Cerrar Sesión
  </ion-button>
</ion-content>
