    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>{{ modalTitle }}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="cerrarModal()">
            <ion-icon slot="icon-only" name="close-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <form [formGroup]="tareaForm" (ngSubmit)="guardarTarea()">

        <ion-item lines="full" class="ion-margin-bottom custom-ion-item">
          <ion-label position="floating">Título <ion-text color="danger">*</ion-text></ion-label>
          <ion-input type="text" formControlName="titulo" required></ion-input>
        </ion-item>
        <div *ngIf="tareaForm.get('titulo')?.invalid && (tareaForm.get('titulo')?.dirty || tareaForm.get('titulo')?.touched)"
             class="error-message ion-padding-start">
          <div *ngIf="tareaForm.get('titulo')?.errors?.['required']">
            El título es requerido.
          </div>
          <div *ngIf="tareaForm.get('titulo')?.errors?.['minlength']">
            El título debe tener al menos 3 caracteres.
          </div>
        </div>

        <ion-item lines="full" class="ion-margin-bottom custom-ion-item">
          <ion-label position="floating">Descripción</ion-label>
          <ion-textarea formControlName="descripcion" autoGrow="true" rows="3"></ion-textarea>
        </ion-item>

        <ion-item lines="none" class="ion-margin-bottom custom-ion-item item-datetime">
          <ion-label position="stacked">Fecha de Vencimiento</ion-label>
          <ion-datetime-button datetime="fechaVencimientoPicker"></ion-datetime-button>
        </ion-item>
        <ion-button fill="clear" size="small" (click)="limpiarFechaVencimiento()" *ngIf="tareaForm.get('fechaVencimiento')?.value" class="clear-date-button">
            <ion-icon slot="start" name="close-circle-outline"></ion-icon>
            Limpiar Fecha
        </ion-button>

        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime
              id="fechaVencimientoPicker"
              formControlName="fechaVencimiento"
              presentation="date-time"
              showDefaultButtons="true"
              doneText="Hecho"
              cancelText="Cancelar"
              [min]="minDate"
              hourCycle="h23">
              <span slot="title">Selecciona Fecha y Hora</span>
            </ion-datetime>
          </ng-template>
        </ion-modal>

        <ion-item lines="full" class="ion-margin-bottom custom-ion-item">
          <ion-label>Prioridad</ion-label>
          <ion-select formControlName="prioridad" interface="popover" placeholder="Seleccionar prioridad">
            <ion-select-option [value]="3">Baja</ion-select-option>
            <ion-select-option [value]="2">Media</ion-select-option>
            <ion-select-option [value]="1">Alta</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-button expand="block" type="submit" [disabled]="tareaForm.invalid" color="primary" class="ion-margin-top submit-button">
          <ion-icon slot="start" name="save-outline"></ion-icon>
          {{ botonGuardarTexto }}
        </ion-button>

      </form>
    </ion-content>
